.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}


.example-container {
  display: flex;
  flex-direction: column;
  padding:15px;
}

.example-container > * {
  width: 100%;
} 
