<div fxLayout="column" fxFill class="mat-typography">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <app-carpark-search></app-carpark-search>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <span><h2>{{title}}</h2></span>
    </mat-toolbar>

    <app-carpark></app-carpark>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
